/* Default styles for larger screens */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
   
}

.logo {
    height: 70px;
    width: 140px;
    margin-left: 20px;
}

.nav-menu {
    margin: 1rem;
    cursor: pointer;
    border-bottom: 2px solid yellow;
    padding-bottom: 5px;
}

.nav-btn {
    height: 35px;
    width: 100px;
    text-decoration: none;
    border: none;
    font-size: small;
    text-align: center;
    border-radius: 25px;
    margin-right: 20px;
    font-weight: bolder;
}

.nav-menu:hover {
    color: rgb(208, 255, 0);
}

.nav-btn:hover {
    background-color: yellow;
}
.nav-btn a{
    text-decoration: none;
    
}


@media (max-width: 414px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .logo {
        margin: 10px auto;
    }

    .nav-menu {
        margin: 10px 0;
        padding: 10px;
    }

    .nav-btn {
        width: 100%;
        margin: 10px 0;
    }
}
